<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DKOSURI.Alerts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA7B0CE11D2D383C0093B23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7B0CFD1D2D383C0093B23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA7B0D081D2D383C0093B23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
